<div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
  <mat-card class="dashboard-mat-card">
    <mat-card-content>
      <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center start">
          <h1>{{'dashboard.title' | translate}}</h1>
        </div>
        <div fxLayout="row" fxFlex fxLayoutAlign="end start" fxLayoutGap="16px">
          <div fxLayout="row">
            <button mat-icon-button (click)="previousDate()" [disabled]="selectedDate <= minDate">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <mat-form-field>
              <mat-label>{{'dashboard.datePickerLabel' | translate}}</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="selectedDate" [matDatepicker]="$any(picker)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-icon-button (click)="nextDate()" [disabled]="maxDate <= selectedDate">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
          <mat-button-toggle-group (change)="selectedUnit = $event.value">
            <mat-button-toggle [value]="units.centsKwh">{{'dashboard.units.centsKwh' | translate}}</mat-button-toggle>
            <mat-button-toggle [value]="units.eurMwh">{{'dashboard.units.eurMwh' | translate}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <app-electricity-price-chart [selectedUnit]="selectedUnit"
                                   [selectedDate]="selectedDate">
      </app-electricity-price-chart>
    </mat-card-content>
  </mat-card>
</div>
